In [3]:
import numpy as np
import pandas as pd
import datetime

import pandas_datareader # install with `pip install pandas-datareader`
from dstapi import DstApi # install with `pip install git+https://github.com/alemartinello/dstapi`

import matplotlib.pyplot as plt
plt.rcParams.update({"axes.grid":True,"grid.color":"black","grid.alpha":"0.25","grid.linestyle":"--"})
plt.rcParams.update({'font.size': 14})

We wish to look at how Danish wealth is made up. We use the table FORMUE11 to look at this.

In [28]:
#We import the data using the DST API. We then display a table to summarize the data
wealth = DstApi('FORMUE12')
tabsum = wealth.tablesummary(language='en')
display(tabsum)
pd.set_option('display.max_rows', None) #This ensures that we see all the places. Useful for selecting the data we want to use.
#We show the contents of the table in more detail.
for variable in tabsum['variable name']:
    print(variable+':')
    display(wealth.variable_levels(variable, language='en'))

Table FORMUE12: Wealth by type of wealth, unit, region, age, population and time
Last update: 2023-11-29T08:00:00

,variable name,# values,First value,First value label,Last value,Last value label,Time variable
0,FORM1,46,FGNF2020,"Net Wealth, (2020-definition A+B+CX-D-E-F)",FGF4,F.4. Other debt to the public sector,False
1,ENHED,9,200,Median (Constant prices 2021-level),240,Number of people in population 31.12,False
2,OMRÅDE,104,000,All Denmark,851,Aalborg,False
3,ALDER,5,1802,18 years and over,7099,70 years and over,False
4,POPU,2,5005,Entire population,5025,Only people with the selected type of wealth,False
5,Tid,9,2014,2014,2022,2022,True

FORM1:

          id                                               text
0   FGNF2020         Net Wealth, (2020-definition A+B+CX-D-E-F)
1   FGNF2014   Net Wealth, (2014-definition A+B-B6+CX-D-E-F+F3)
2   FGAK2020              Assets total (2020-definition A+B+CX)
3   FGAK2014           Assets total (2014-definition A+B+CX-B6)
4        FGA                                     A. Real assets
5       FGA1                       A.1. Value of Main residence
6       FGA2         A.2. Value of flat in housing co-operative
7       FGA3                      A3. Value of vacation cottage
8       FGA4  A.4. Other real estate (rental dwelling, unbui...
9       FGA5                                          A.5. Cars
10   FGB2020       B. Financial assets, total (2020-definition)
11   FGB2014  B. Financial assets, total (2014-definition ex...
12      FGB1                              B.1. Deposits in bank
13      FGB2                                         B.2. Bonds
14      FGB3                          B.3. Shares (quoted) etc.
15      FGB4                     B.4. Shares in investment fund
16      FGB5                     B.5. Mortgage deeds in deposit
17      FGB6               B.6. Shares (unquoted) etc. (2020- )
18      FGB7            B.7. special deposits for self employed
19      FGCX  CX. Pensions in total (non-taxed counts 60 per...
20       FGC                               C. Pensions in total
21      FGC1                             C.1. Lifetime pensions
22     FGC1A                     C.1.A. Lifetime pensions (ATP)
23     FGC1B                   C.1.B. Lifetime pensions (other)
24      FGC2                            C.2. Fixed-term pension
25      FGC3                      C.3. One-time pension payment
26      FGC4                                    C.4. Age saving
27      FGC5                  C.5. Civil servant pension, total
28  FGPA2020                   Liabilities total (2020-def E+F)
29  FGPA2014                Liabilities total (2014-def E+F-F3)
30       FGD                            D. Mortgage debt, total
31      FGD1                         D.1. In building societies
32     FGD1A                              D.1.A. Main residence
33     FGD1B                             D.1.B. Holiday cottage
34     FGD1C                           D.1.C. Other real estate
35      FGD2                        D.2. Mortgage debt in banks
36      FGD3                    D.3. Mortgages deeds in deposit
37       FGE                              E. Other loans, total
38      FGE1                            E.1. Regular bank loans
39      FGE2   E.2. loans for consumption, credit card debt tc.
40   FGF2020     F. Debt to the public sector (2020-definition)
41   FGF2014  F. Debt to the public sector (2014-definition ...
42      FGF1                                   F.1. Study laons
43      FGF2                        F.2. Debt to municipalities
44      FGF3  F.3. Debt collection / Arrears (not accessible...
45      FGF4               F.4. Other debt to the public sector

ENHED:

    id                                         text
0  200          Median (Constant prices 2021-level)
1  205   Lower quartile (Constant prices 2021-leel)
2  210  Upper quartile (Constant prices 2021-level)
3  215         Average (Constant prices 2021-level)
4  220                      Median (Nominal prices)
5  225              Lower quartile (Nominal prices)
6  230              Upper quartile (Nominal prices)
7  235                     Average (Nominal prices)
8  240         Number of people in population 31.12

OMRÅDE:

      id                text
0    000         All Denmark
1    084  Region Hovedstaden
2    101          Copenhagen
3    147       Frederiksberg
4    155              Dragør
5    185              Tårnby
6    165         Albertslund
7    151            Ballerup
8    153             Brøndby
9    157            Gentofte
10   159            Gladsaxe
11   161            Glostrup
12   163              Herlev
13   167            Hvidovre
14   169       Høje-Taastrup
15   183               Ishøj
16   173      Lyngby-Taarbæk
17   175             Rødovre
18   187          Vallensbæk
19   201             Allerød
20   240              Egedal
21   210         Fredensborg
22   250       Frederikssund
23   190              Furesø
24   270            Gribskov
25   260             Halsnæs
26   217           Helsingør
27   219            Hillerød
28   223            Hørsholm
29   230           Rudersdal
30   400            Bornholm
31   085     Region Sjælland
32   253               Greve
33   259                Køge
34   350               Lejre
35   265            Roskilde
36   269              Solrød
37   320                Faxe
38   376        Guldborgsund
39   316              Holbæk
40   326          Kalundborg
41   360             Lolland
42   370             Næstved
43   306           Odsherred
44   329            Ringsted
45   330            Slagelse
46   340                Sorø
47   336              Stevns
48   390         Vordingborg
49   083   Region Syddanmark
50   420              Assens
51   430     Faaborg-Midtfyn
52   440          Kerteminde
53   482           Langeland
54   410          Middelfart
55   480            Nordfyns
56   450              Nyborg
57   461              Odense
58   479           Svendborg
59   492                 Ærø
60   530             Billund
61   561             Esbjerg
62   563                Fanø
63   607          Fredericia
64   510           Haderslev
65   621             Kolding
66   540          Sønderborg
67   550              Tønder
68   573               Varde
69   575               Vejen
70   630               Vejle
71   580            Aabenraa
72   082  Region Midtjylland
73   710            Favrskov
74   766           Hedensted
75   615             Horsens
76   707           Norddjurs
77   727               Odder
78   730             Randers
79   741               Samsø
80   740           Silkeborg
81   746         Skanderborg
82   706            Syddjurs
83   751              Aarhus
84   657             Herning
85   661           Holstebro
86   756        Ikast-Brande
87   665              Lemvig
88   760   Ringkøbing-Skjern
89   779               Skive
90   671              Struer
91   791              Viborg
92   081  Region Nordjylland
93   810         Brønderslev
94   813       Frederikshavn
95   860            Hjørring
96   849          Jammerbugt
97   825                Læsø
98   846       Mariagerfjord
99   773               Morsø
100  840              Rebild
101  787             Thisted
102  820     Vesthimmerlands
103  851             Aalborg

ALDER:

     id               text
0  1802  18 years and over
1  1829        18-29 years
2  3049        30-49 years
3  5069        50-69 years
4  7099  70 years and over

POPU:

     id                                          text
0  5005                             Entire population
1  5025  Only people with the selected type of wealth

Tid:

     id  text
0  2014  2014
1  2015  2015
2  2016  2016
3  2017  2017
4  2018  2018
5  2019  2019
6  2020  2020
7  2021  2021
8  2022  2022

In [34]:
# The _define_base_params -method gives us a nice template (selects all available data)
params = wealth._define_base_params(language='en')
params

variables = params['variables'] # Returns a view, that we can edit
variables[0]['values'] = ['FGA5', 'FGC', 'FGB2014', 'FGB1']
variables[1]['values'] =['235','240']
variables[2]['values'] = ['101', '751', '153', '376', '183', '482', '730', '760', '810']
variables[3]['values'] = ['1802']
variables[4]['values'] = ['5005', '5025']
params

#And now we load the data while checking that it looks somewhat correct.
wealth_api = wealth.get_data(params=params)
#wealth_api.head(5)

#We now rename the variables such that it is easier to use.
var_dict = {} # var is for variable
var_dict['A.5. Cars'] = 'Cars'
var_dict['C. Pensions in total'] = 'Pensions'
var_dict['B. Financial assets, total (2014-definition ex...'] = 'Financial wealth'
var_dict['B.1. Deposits in bank'] = 'Deposits'
column_dict = {'FORM1': 'Variable', 'ENHED': 'Unit', 'OMRÅDE': 'Area', 'ALDER': 'Age', 'POPU': 'Population', 'TID': 'Year', 'INDHOLD': 'Value'}
               
wealth_api = wealth_api.rename(columns=column_dict)
wealth_api = wealth_api.rename()      
plot_data = wealth_api.set_index('Year')

In [32]:
wealth_api.head(5)

,Variable,Unit,Area,Age,Population,Year,Value
0,A.5. Cars,Average (Nominal prices),Copenhagen,18 years and over,Entire population,2014,13157
1,A.5. Cars,Average (Nominal prices),Copenhagen,18 years and over,Only people with the selected type of wealth,2014,63109
2,A.5. Cars,Average (Nominal prices),Brøndby,18 years and over,Entire population,2014,26575
3,A.5. Cars,Average (Nominal prices),Brøndby,18 years and over,Only people with the selected type of wealth,2014,72830
4,A.5. Cars,Average (Nominal prices),Ishøj,18 years and over,Entire population,2014,26976