In [6]:
import pandas as pd

# URL of the dataset on GitHub (make sure to use the raw version of the file)
url1 = 'https://raw.githubusercontent.com/NumEconCopenhagen/projects-2024-frederik/main/dataproject/Alle-uanset-formuetype.xlsx'

# Read the Excel file directly into a pandas DataFrame
df = pd.read_excel(url1)

# Display the first few rows of the DataFrame
print(df.head())

                 ID                      Enhed                           Type  \
0  18 år og derover  Median (nominelle priser)  A.1. Helårsbolig, Ejerboliger
1  18 år og derover  Median (nominelle priser)  A.1. Helårsbolig, Ejerboliger
2  18 år og derover  Median (nominelle priser)  A.1. Helårsbolig, Ejerboliger
3  18 år og derover  Median (nominelle priser)  A.1. Helårsbolig, Ejerboliger
4  18 år og derover  Median (nominelle priser)  A.1. Helårsbolig, Ejerboliger

              By 2014 2015 2016 2017 2018 2019  2020  2021  2022
0      København    0    0    0    0    0    0     0     0     0
1  Frederiksberg    0    0    0    0    0    0     0     0     0
2        Brøndby    0    0    0    0    0    0     0     0     0
3          Ishøj    0    0    0    0    0    0     0     0     0
4   Guldborgsund    0    0    0    0    0    0     0     0     0

In [7]:
# URL of the dataset on GitHub (make sure to use the raw version of the file)
url2 = 'https://raw.githubusercontent.com/NumEconCopenhagen/projects-2024-frederik/main/dataproject/Antal-personer-i-alt_uasnet-formue.xlsx'

# Read the Excel file directly into a pandas DataFrame
df = pd.read_excel(url2)

# Display the first few rows of the DataFrame
print(df.head())

                                         ID             Enhed  \
0  Personer i befolkningen d. 31.12 (antal)  18 år og derover
1  Personer i befolkningen d. 31.12 (antal)  18 år og derover
2  Personer i befolkningen d. 31.12 (antal)  18 år og derover
3  Personer i befolkningen d. 31.12 (antal)  18 år og derover
4  Personer i befolkningen d. 31.12 (antal)  18 år og derover

                            Type             By    2014    2015    2016  \
0  A.1. Helårsbolig, Ejerboliger      København  477942  487903  496596
1  A.1. Helårsbolig, Ejerboliger  Frederiksberg   85124   86215   86528
2  A.1. Helårsbolig, Ejerboliger        Brøndby   27726   27961   28140
3  A.1. Helårsbolig, Ejerboliger          Ishøj   16987   17253   17561
4  A.1. Helårsbolig, Ejerboliger   Guldborgsund   50000   50230   50437

     2017    2018    2019    2020    2021    2022
0  505518  514068  521518  527190  533918  542829
1   85986   85582   85973   85614   85836   86984
2   28108   27979   27774   27888   28237   29494
3   17813   17831   17899   18047   18173   18383
4   50468   50391   50351   50108   50147   50129

In [49]:
# URL of the dataset on GitHub (make sure to use the raw version of the file)
url3 = 'https://raw.githubusercontent.com/NumEconCopenhagen/projects-2024-frederik/main/dataproject/Antal-personer-med-fomruetypen.xlsx'

df = pd.read_excel(url3)

#showing the first line to make sure our code is good
print(df.head())

,ID,Enhed,Type,By,2014,2015,2016,2017,2018,2019,2020,2021,2022
195,Personer i befolkningen d. 31.12 (antal),70 år og derover,C. Pensionsformuer i alt,Langeland,2148,2271,2441,2559,2644,2770,2857,2911,3006
196,Personer i befolkningen d. 31.12 (antal),70 år og derover,C. Pensionsformuer i alt,Randers,10846,11524,12133,12732,13171,13676,14138,14478,14748
197,Personer i befolkningen d. 31.12 (antal),70 år og derover,C. Pensionsformuer i alt,Aarhus,27496,29065,30629,31954,33095,34185,35420,36388,37568
198,Personer i befolkningen d. 31.12 (antal),70 år og derover,C. Pensionsformuer i alt,Ringkøbing-Skjern,6472,6943,7319,7660,7973,8306,8622,8836,9057
199,Personer i befolkningen d. 31.12 (antal),70 år og derover,C. Pensionsformuer i alt,Brønderslev,4140,4417,4664,4928,5136,5283,5443,5563,5658

In [10]:
# URL of the dataset on GitHub (make sure to use the raw version of the file)
url4 = 'https://raw.githubusercontent.com/NumEconCopenhagen/projects-2024-frederik/main/dataproject/Kun-personer-med-formuetype.xlsx'

df = pd.read_excel(url4)

#showing the first line to make sure our code is good
print(df.head())

                 ID                      Enhed  \
0  18 år og derover  Median (nominelle priser)
1  18 år og derover  Median (nominelle priser)
2  18 år og derover  Median (nominelle priser)
3  18 år og derover  Median (nominelle priser)
4  18 år og derover  Median (nominelle priser)

                              Type             By    2014    2015    2016  \
0  A.2. Helårsbolig, Andelsboliger      København  530591  556678  573883
1  A.2. Helårsbolig, Andelsboliger  Frederiksberg  759620  793787  821607
2  A.2. Helårsbolig, Andelsboliger        Brøndby  530469  563111  580830
3  A.2. Helårsbolig, Andelsboliger          Ishøj  907629  956594  989578
4  A.2. Helårsbolig, Andelsboliger   Guldborgsund  306248  329976  324933

      2017     2018     2019     2020     2021     2022
0   598066   621403   652795   721471   797163   806910
1   893962   935486   968488  1060696  1162328  1190391
2   603770   630936   644178   709014   784042   782087
3  1031990  1048026  1078370  1193761  1338436   866401
4   341701   366146   377318   377087   390178   406934